{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<form action = "/register" method = "POST">
    <h3>Register</h3>
<div class="mb-3">
    <input type = "text" name = "username" placeholder = "Username">
</div>
<div class="mb-3">
    <input type = "password" name = "password" placeholder = "Password">
</div>
<div class="mb-3">
    <input type = "password" name = "confirmation" placeholder = "Confirmation">
</div>
    <button class="btn btn-primary" type="submit">Register</button>
</form>

{% endblock %}